
.cntrHead {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #836bff;
  padding: 30px;
  row-gap: 15px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;

  .cntrTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 5px;

    .titleHead {
      font-family: 'Ubuntu';
      font-style: italic;
      font-weight: 300;
      font-size: 64px;
      color: white;
    }
    .logoHead {
      width: 60px;
      height: 60px;
      padding: 5px;
      border-radius: 10px;
      box-shadow: 0 0px 6px #4f409bad;
    }
  }

  .cntrActionsHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: chocolate;
    padding: 10px;
  }

}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Ubuntu';
  font-stretch: expanded;
  font-weight: 500;
  font-size: 1em;
  column-gap: 0.75em;
  
  div {
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    box-shadow: 0 0px 4px #4f409bad;
  }
  div:hover {
    cursor: pointer; 
    background-color: #705bda;
  }
}