
.cntrFooter {
  width: 100%;
  height: 30px;
  bottom:0;
  position: absolute;  
  background-color: rgba(250, 250, 250, 0.953);
  color: black;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Ubuntu';
  padding-top: 15px;
}